:root {
    /* --- PALETA DE COLORES (MODO OSCURO PRO) --- */
    --bg-dark: #070707;          /* Negro profundo para el fondo */
    --bg-card: #121212;          /* Gris oscuro para las tarjetas de APK */
    --main-color: #00ff88;       /* Verde Neón (Creeper/Hacker) */
    --main-glow: rgba(0, 255, 136, 0.4);
    
    /* --- TEXTO --- */
    --text-main: #ffffff;
    --text-secondary: #aaaaaa;
    --text-dim: #555555;

    /* --- EFECTOS DE CRISTAL (GLASSMORPHISM) --- */
    --glass-bg: rgba(15, 15, 15, 0.85);
    --border-color: rgba(255, 255, 255, 0.08);
    --shadow-pro: 0 15px 35px rgba(0, 0, 0, 0.8);

    /* --- ANIMACIONES --- */
    --transition-pro: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* ESTO ES PARA EL FUTURO:
   Cuando el usuario toque "Cambiar Tema", 
   el script.js activará esta clase ".light-theme"
*/
.light-theme {
    --bg-dark: #f0f2f5;         /* Blanco hueso */
    --bg-card: #ffffff;         /* Blanco puro */
    --text-main: #1a1a1a;       /* Texto negro */
    --text-secondary: #444444;
    --glass-bg: rgba(255, 255, 255, 0.9);
    --border-color: rgba(0, 0, 0, 0.1);
    --shadow-pro: 0 10px 25px rgba(0, 0, 0, 0.1);
}
